body {
    background: #ffffff;
    color: #000000;
}

a {
    color:#000000;
}

button {
    color: #000000;
    border-bottom: #1f1f1f;
    background-color: #e4e4e4;
}

.nav-main {
    background-color: #e2e2e2;
}

.nav-main ul li button:hover {
    border-bottom: 1px solid #e7e8e8;
    background-color: #000000;
    color: #ffffff;
}

.barra-busqueda input {
    color: #020202;
    border: 1px solid #d1d1d1;
    background-color: #f8f8f8;
}

.barra-busqueda button {
    border: 1px solid #ffffff;
}

.form-login,
.olvido-contraseña {
    background: #020202;
    box-shadow: 7px 13px 37px #d6d6d6;
    border-top: 4px solid #fe8454;
    color: white;
}

.form-login h5,
.olvido-contraseña h5 {
    color: #ffffff;
}

.controls {
    border: 1px solid white;
    background: #383838;
    color: #ffffff;
}

.ingresar {
    background: #ffffff;
    color: #000000;
}

.form-login a,
.olvido-contraseña a {
  color: #fbff00;
}

.Lista_superior,
.Lista_inferior {
  background-color: #e4e4e4;
}

.Lista_superior img,
.Lista_inferior img {
  background-color: #ffffff;
  color: #ffffff;
} 

.interes ul li img:hover{
    background-color: #000000;
    color: #ffffff;
}

.titulo_intereses {
    background-color: #e4e4e4;
}

.avatar{
    background-color: #ffffff;
}

.barra-opciones {
    background-color: #f7f7f7;
}

.barra-opciones ul li button:hover {
    border-bottom: 1px solid #fffffa;
    background-color: #000000;
    color: #ffffff;
}

.youtuber {
    background-color: #ffffff;
}

.canales img:hover {
    border: 3px solid #000000;
    background-color: #ffffff;
    color: #ffffff;
}

.visualizacion-videos div a img:hover {
    border: 1px solid #000000;
}

figcaption {
    color: #000000;
}

figcaption p {
    color: #7f7f7f;
}

.filtros {
    background: #e7e8e8;
}

.filtros li a:hover {
    border-bottom: 1px solid #020202;
    color: #9dff00;
}

.calendario {
    background: #adaeae;
}

.reproducir_video ul li button:hover {
    border-bottom: 1px solid #e7e8e8;
    background-color: #000000;
    color: #ffffff;
}

.barra_comentario {
    background-color: #e7e8e8;
    color: #000000;
}

.videos_similares li figure a img.img_video_similares {
    border:black solid 1px;
}

.logo {
    color: #000000;
}

a.logo i {
    color: #3e9400;
}