/*estilos de toda la pagina*/
* {
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
}

/*estilos del body*/
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*botones*/
a {
  text-decoration: none;
}

button {
  text-decoration: none;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 17px;
  padding: 5px 15px;
  font-size: 13px;
}

/*Listas*/
ul {
  list-style: none;
}

/*div contenedor*/
.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0px auto; /*cambiar para que no se vea la columna*/
  grid-template-rows: 4.6% auto;
  grid-template-areas:
    "nav-main nav-main"
    "barra-opciones visualizacion-video";
}

/*nav barra de opciones, oculta por defecto la barra*/
.barra-opciones {
  display: none;
}

/*Estilos llamados con javascript para mostrar la barra*/
/*muestra el contenido*/
.visible {
  transition: all 0.2s ease;
  display: flex;
}

/*abre la barra*/
.abrir {
  transition: all 0.2s ease;
  grid-template-columns: 20% auto;
}

/*Navegacion*/
.nav-main {
  z-index: 5;
  grid-area: nav-main;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/*boton de barra lateral*/
.nav-triangulo {
  padding: 10px;
  width: 40px;
  align-items: center;
  position: relative;
  top: 4px;
}

/*Nav central*/
.nav-main ul {
  display: flex;
} 

.nav-main ul li {
  padding-right: 0px;
}

.nav-main ul li button {
  padding: 10px;
}

/*Asignacion de areas a la barra de opciones*/
.barra-opciones {
  grid-area: barra-opciones;
  margin-top: 10px;
  height: 100%;
  z-index:1;
}

/*Asignacion de areas a la visualizacion de videos*/
.visualizacion-videos {
  grid-area: visualizacion-video;
  padding: 20px;
}

/*espaciado de los a*/
.nav-menu li a {
  padding: 15px;
}

/*nav de los elementos de la izquierda*/
.nav-menu-left {
  align-items: center;
}

.nav-menu-left li a {
  padding-right: 30px;
}

/*nav de los elementos de la derecha*/
.nav-menu-right {
  align-items: center;
}

.nav-menu-right li a {
  padding-left: 30px;
}

/*posicionamiento de la barra de busqueda*/
.barra-busqueda {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*estilo de el input de la barra de busqueda*/
.barra-busqueda input {
  width: 600px;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*estilo de los botones de la barra de busqueda*/
.barra-busqueda button {
  height: 35px;
  border-left: none;
}

/*estilos del formulario de ingreso y de perdida de contraseña*/
.form-login,
.olvido-contraseña {
  width: 400px;
  height: 340px;
  margin: auto;
  margin-top: 180px;
  padding: 20px 30px;
  align-items: center;
}

.form-login h5,
.olvido-contraseña h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
  width: 100%;
}

.controls {
  width: 94%;
  margin-bottom: 15px;
  padding: 11px 10px;
  font-size: 14px;
  font-weight: bold;
}

.ingresar {
  width: 94%;
  height: 40px;
  border: none;
}

.form-login p,
.olvido-contraseña p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
  padding-top: 10px;
}

.form-login a,
.olvido-contraseña a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.form-login a:hover,
.olvido-contraseña a:hover {
  text-decoration: underline;
}

/*estilos de la pagina de intereses*/
.Lista_superior,
.Lista_inferior {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*Tamaño de imagenes*/
.Lista_superior img,
.Lista_inferior img {
  width: 200px;
  height: 240px;
  margin: 15px 29px;
  border-radius: 60px;
  padding: 5px;
} 

.titulo_intereses {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.Lista_superior h3,
.Lista_inferior h3 {
  padding-left: 90px;
  font-weight: 600;
} 

/*Estilo boton inicio de sesion*/
/*oculta la imagen*/
.img_sesion {
  display: none;
} 

/*muestra la imagen*/
.avatar{
  display: flex;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  margin-inline: 10px; 
  align-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
}

/*oculta el texto y el boton*/
.sin_texto {
  display: none;
}

/*boton activa avatar*/
.btn_sesion2 {
  padding: 0px;
  margin: 0px;
}

/*botones barra de tareas*/
.barra-opciones {
  font-size: 15px;
  font-weight: lighter;
  font-family:'Times New Roman', Times, serif;
}

.barra-opciones ul li {
  padding: 9px 5px;
}

/*Estilo de secciones de la barra*/
.canales {
  padding: 0px;
  align-items: center;
  align-content: center;
  font-weight:100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.youtuber {
  top: 10px;
  width: 35px;
  height: 35px;
  align-content: center;
  align-items: center;
  border-radius: 30px;
}

/*Estilo de las listas de reproduccion*/
.listas_reproduccion {
  font-size: 12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: none;
}

/*muestra las listas de reproduccion*/
.desplegar_listas {
  display: grid;
  position:relative;
}

/*Estilo de los canales*/
.seccion_canales li a img{
  left: -5; 
}

/*Oculta los canales*/
.seccion_canales {
  display: none;
}

/*muestra los demas canales*/
.desplegar_canales{
  display: grid;
}

/*Estilo de contenido principal*/
.visualizacion-videos div a{
  padding: 5px;
}

.grid-videos figure .video img{
  width: 100%;
  display: block;
}

.grid-videos {
  display:grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: space-between;
}

.grid-videos .video {
  width: 100%;
  display: block;
  position: relative;
}

/*Estilo del texto de las imagenes de los videos*/
/*posicionamiento del texto*/
figure {
  margin-bottom: 0px;
  display: inline-block;
  padding: 0px 6px;
  padding-bottom: 130px;
}

figcaption {
  position:absolute;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 17px;
}

figcaption p {
  font-size: 13px;
}

/*Estilos de filtrado de busqueda*/
.filtros {
  visibility: hidden;
}

.filtros {
  right: 0px;
  font-size: 15px;
  z-index: 3;
  width: 600px;
  height: 100%;
  position:absolute;
  top: 60px;
  grid-template-rows: 113px 113px 113px;
  grid-template-areas:
    "fecha_carga tipo ordenar_por";  
}

.filtros li a {
  display: grid;
}

.fecha_carga {
  grid-area: fecha_carga;
  display: list-item;
  width: 100%;
}

.tipo {
  grid-area: tipo;
  display: list-item;
  width: 100%;
}

.ordenar_por {
  grid-area: ordenar_por;
  display: list-item;
  width: 100%;
}

/*Oculta la barra de filtros*/
.sin-filtro {
  visibility: visible;
}

/*calendario*/
.calendario {
  width: 150px;
  align-items: center;
  top: -70px;
  left: 100px;
  position: relative;
  margin: 5px;
  font-size: 30px;
  text-align:justify;
  visibility: hidden;
}

.abrir_calendario {
  visibility: visible;
}

/*estilo de los videos*/
.reproductor-videos {
  grid-area: visualizacion-video;
}

.reproducir_video ul li p {
  margin-right: 410px;
  padding-bottom: 15px;
}

.reproducir_video {
  display:grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 71% auto;
  grid-template-areas: 
    "espacio-video desplegables-video"
    "titulo-video desplegables-video";
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.espacio_video {
  margin: 0px 20px;
  display: grid;
  grid-area: espacio-video;
  width: 95%;
  height: auto;
}

.espacio_video li iframe {
  position: fixed;
  width: 57%;
  height: 67%;
  top: 60px;
}

.desplegables_video {
  display: grid;
  grid-area: desplegables-video;
  width: 100%;
  text-align:left;
  margin-top: 10%;
}

.desplegables_video li a button.btn_iconos{
  margin-right: 25%;
}

.desplegables_video li a button.btn_desicono {
  margin-left: 25%;
}

.titulo_video li{
  bottom: 1px;
  position: fixed;
  padding: 0px 23px;
  display: block;
  grid-area: titulo-video;
}

div.g-ytsubscribe {
  display: flex;
  position: absolute;
  width: 30%;
  height: auto;
}
.barra_comentario {
  margin: 13px 0px;
  padding: 10px 0px;
  width: 96%;
  border-radius: 15px;
}

.desplegables_video li ul li img {
  width: 50px;
  height: auto;
  border-radius: 30px;
}

.comentarios {
  display: none;
}

.espacio_comentarios {
  margin: 10px 0px;
  display: grid;
  height: 80%;
  visibility: visible;
}

.espacio_listas_reproduccion{
  display: none;
}

.abrir_listas {
  display: grid;
}

.espacio_listas_reproduccion li {
  margin-top: 10%;
}

.videos_similares {
  width: 100%;
  display: none;
  height: auto;
}

.videos_similares li a{
  margin: 6% 39%;
}

.videos_similares li a figcaption {
  margin: 0% 9%;
}

.videos_similares li a p {
  width: 100%;
}

.videos_similares li figure a img.img_video_similares {
  margin-top: 6%;
  width: 100%;
  border-radius: 30px;
}

.abrir_videos_similares {
  display: grid;
}

.logo {
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.logo i {
  padding: 0px 5px;
}